data/MTN-Ghana-FOC-point.qmd
data/QGIS-working.qgz
data/MTN-Ghana-FOC-line.qmd
kml2ofds-testing.qgz
output/*
input/*
__pycache__/
.vscode/
__pycache__/test_parse.cpython-311-pytest-8.0.2.pyc
kml2ofds-testing.qgz
dist/
.venv/
.gitignore
nofbi.profile
mtn_zambia.profile
mtn_ghana_fob.profile
Togo_Telecom.profile
Liquid_DRC.profile
requirements.bob 